mixin videoMixin(video)
    div
        h4=video.title
        ul 
            li #{video.rating}/rating
            li #{video.comments}/comments
            li created At #{video.createdAt} 


        

