mixin videoMixin(video)
    div
        h3
            a(href=`http://localhost:4000/videos/${video.id}`)=video.title
        h5 #{video.views} #{video.views === (0||1) ? "view" : "views"}
        //- views가 0또는 1일때 view
        small=video.createdAt
        hr


        

