doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            nav 
                ul 
                    li  
                        a(href="/") Home
                    li  
                        a(href="/videos/upload") Upload
                    li  
                        a(href="/search") Search
                    if loggedIn
                        li  
                            a(href="/users/edit") Edit Profile
                        li  
                            a(href="/users/logout") Logout
                    else
                        li  
                            a(href="/login") Login
                        li  
                            a(href="/join") Join
            if loggedIn
                span hello #{loggedInUser.name}
            h1=pageTitle 
        main
            block contents
        include ./partials/footer