extends ../base

block contents
    if(err_message)
        span=err_message
    form(method="post")
        input(name="oldPassword", type="password", placeholder="Old Password",required)
        input(name="newPassword", type="password", placeholder="New Password", required)
        input(name="newPassword2", type="password", placeholder="Check Password Match", required)
        input(type="submit", value="Change PW")