extends ../base

block contents 
    if err_message
        span=err_message
    form(method="POST", enctype="multipart/form-data")
        label(for="picture") Picture 
        input(name="picture",id="picture", type="file", accept="image/*")
        input(name="name", type="text", placeholder="Name", value=loggedInUser.name,required)
        input(name="email", type="email", placeholder="Email", value=loggedInUser.email,required)
        input(name="location", type="text", placeholder="Location",value=loggedInUser.location)
        input(type="submit", value="Edit Profile") 
        if !loggedInUser.socialOnly
            div.auth-switch
                a(href="/users/change-password") Change PW &rarr;