extends ../base
include ../mixins/video 

block contents
    div.video-grid
        each video in videos 
            +videoMixin(video)
        else 
            span.empty__message Sorry nothing found..