extends ../base

block contents
    if(err_message)
        span=err_message
    form(method="post")
        input(name="name", type="text", placeholder="Name", required)
        input(name="email", type="email", placeholder="Email", required)
        input(name="password", type="password", placeholder="Password", required)
        input(name="password2", type="password", placeholder="Check Password Match", required)
        input(name="location", type="text", placeholder="Location")
        input(type="submit", value="Join")
    br
    a(href="/login") Have Account? &rarr;