extends ../base

block contents
    if(err_message)
        span=err_message
    form(method="post")
        input(name="name", type="text", placeholder="Name", required)
        input(name="password", type="password", placeholder="Password", required)
        input(type="submit", value="Login")
        include ../partials/social-login
    div.auth-switch
        a(href="/join") Create Account? &rarr;