extends ../base

block contents
    if(err_message)
        span=err_message
    form(method="post")
        input(name="username", type="text", placeholder="Username", required)
        input(name="password", type="password", placeholder="Password", required)
        input(type="submit", value="Login")
    br
    a(href="/join") Create Account? &rarr;