extends ../base
include ../mixins/video

block contents
    div.profile__data
        if user.pictureUrl
            if user.socialOnly
                image(src=`${user.pictureUrl}` width=100 height=100) 
            else
                image(src=`/${user.pictureUrl}` width=100 height=100) 
        else 
            i.far.fa-user-circle.fa-5x
        h3=user.name
    div.video-grid
        each video in user.videos 
            +videoMixin(video)
        else 
            span.empty__message Sorry nothing found..