extends ../base

block contents
    if err
        span=err._message
    if MulterError
        span=MulterError
    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video File
        input(name="video",id="video", type="file", accept="video/*",required)
        input(type="file", name="thumbnail")
        input(placeholder="Title", type="text", name="title",maxlength="80",required)
        input(placeholder="description", type="text", name="description",minlength="5")
        input(placeholder="Hashtags, seperated by ,", type="text", name="hashtags")
        input(type="submit" value="Upload Video")