extends ../base

block contents
    div.upload__container
        div.upload__video
            video#preview
            button#startBtn.start__btn Start Recording
    if err
        span=err._message
    if MulterError
        span=MulterError
    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video File
        input(name="video",id="video", type="file", accept="video/*",required)
        input(type="file", name="thumbnail")
        input(placeholder="Title", type="text", name="title",maxlength="80",required)
        input(placeholder="Description", type="text", name="description")
        input(placeholder="Hashtags, seperated by ,", type="text", name="hashtags")
        input(type="submit" value="Upload Video")

block scripts
    script(src="/static/js/recorder.js")